#featured.col-full

  #loopedSlider

    .container{:style => "height: 470px; display: block;"}

      #map.map{:style => "height:450px;"}

    .slider-nav.col-full

      %ul.pagination
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('bi');", :rel => "1"} Бишкек
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('co');", :rel => "2"} Чуй
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('oo');", :rel => "3"} Ош
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('bo');", :rel => "4"} Баткен
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('jo');", :rel => "5"} Джалал-Абад
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('to');", :rel => "6"} Талас
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('no');", :rel => "7"} Нарын
        %li
          %a{:href => "javascript:void(0);", :onclick => "goto_state('io');", :rel => "8"} Иссык-Куль