- @page_title = 'Reports list'


#main.col-left.box
  = render :partial => "reports", :collection => @reports
  = paginate @reports
  %br
#sidebar.col-right
  .widget
    %h3 Последние новости

  .widget
    %h3 Последние комментарии