- title 'Reports list'

#main.col-left.box
  = render :partial => "reports", :collection => @reports

  .fr
    = paginate @reports
  %br.fix

#sidebar.col-right
  .widget
    %h3 Последние новости

  .widget
    %h3 Последние комментарии