- @page_title = 'Show report'

#main.col-left.box

  #report-info.post
    = render "report_info", :target => @report

  #admin
    = render "shared/admin", :target => @report

  #comments
    = render "comments/comments", :target => @report

  #respond{:style => "display: none;"}
    = render 'comments/form'

:javascript
  $(function(){
     $('#commentformlink').click(function(){
        $("#respond").slideToggle("slow");
        return false;
     });
  });

#sidebar.col-right
  .widget
    .static_map.widget

  .widget
    .images_widget.widget
:erb
  <script type="text/javascript">
    var arr = <%= @report.to_json(:only => [:longtitude, :latitude]).html_safe %>;
    var latLng = arr['report']['latitude'] + ", " + arr["report"]['longtitude'];

    $(document).ready(function() {
      $('.static_map').html("<img src='http://maps.google.com/maps/api/staticmap?center=" + latLng + "&zoom=15&size=306x238&&markers=color:blue|label:P|" + latLng + "&sensor=false'/>");
    });
  </script>

