#footer.col-full
  = load_map

  .top
    #widget-left.col-left
      #text-3.widget.widget_text
        %h3 Text Widget
        .textwidget
          %p Aeque errem pertinacia nam at. Illud option invidunt no per, euismod assentior eu eam. Eu nec ornatus laoreet fuisset, dissentias dissentiunt ei nam, mediocrem scribentur repudiandae sea no. Mea movet euripidis urbanitas eu, diceret gloriatur has no, sed te delenit salutandi ocurreret. No eum menandri consequuntur, nam elaboraret neglegentur no.
    #widget-right.col-right
      #archives-3.widget.widget_archive
        %h3 Archives
        %ul
          %li
            %a{:href => "http://demo.woothemes.com/delegate/2010/01/", :title => "January 2010"} January 2010
          %li
            %a{:href => "http://demo.woothemes.com/delegate/2009/12/", :title => "December 2009"} December 2009
          %li
            %a{:href => "http://demo.woothemes.com/delegate/2009/11/", :title => "November 2009"} November 2009
          %li
            %a{:href => "http://demo.woothemes.com/delegate/2009/10/", :title => "October 2009"} October 2009
    .fix
  .bottom
    #copyright.col-left
      %p © 2011 Delegate. All Rights Reserved.
    #creadit.col-right
      %p
        Designed & Powered by 
        = link_to "Invaders Media", "http://www.im.kg"
